POSTGRES_USER=fretcorridor
POSTGRES_PASSWORD=fretcorridor
POSTGRES_DB=fretcorridor
MINIO_ROOT_USER=fretcorridor
MINIO_ROOT_PASSWORD=fretcorridor-secret
PGADMIN_DEFAULT_EMAIL=admin@fretcorridor.dev
PGADMIN_DEFAULT_PASSWORD=fretcorridor
